// ================ color var ===============
$white-clr : #FFFFFF;
$pink-clr : #EB6753;
$pink-dark-clr : #d34933;
$black-clr : #181A20;
$text-clr : #717171;
$bg-clr : #F7F7F7;
$footer-text-clr : #BEBDBD;
$bg2-clr: #eb67531a;
$btn_bg_clr: #ffffff0a;

// ============== border var ================
$box_sizing_border_box: border-box;
$box_sizing_inherit: inherit;
$border_none: none;
$outline_none: none;
$outline_auto: auto;
$border_radius: 12px;

// ==================== text style var ====================

$text_decoration_none: none;
$text_decoration_underline : underline;
$list_style_none: none;
$cursor_pointer: pointer;
$appearance_none: none;
$pointer_events_none: none;

// ===================== positions var ===================
$position_absolute: absolute;
$position_relative: relative;

// ============== width height ================
$width_fit_content: fit-content;
$height_max_content: max-content;

// ============== style ================
$scroll_behavior_smooth: smooth;

// ============== background ================
$background_color_transparent: transparent;
$background_repeat_repeat: repeat;
$background_size_cover: cover;

// ================== display var ================
$display_block : block;
$display_none : none;
$display_inline_block : inline-block;
$display_flex : flex;
