@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;



.dream_home_img{
    .watch_video{
        box-shadow: 0px 0px 20px 0px #181A2012;
        right: 0;
        top: 90px;
        animation: one 2s infinite alternate;

        @media (max-width: 576px) {
          top: 20px;
        }
    }
      
      @keyframes one {
        0% {
          transform: rotateX(0);
          transform: translate(-40px, 0); 
        }
        100% {
          transform: rotateX(50deg);
          transform: translate(-20px, 50px);
        }
      }
    .dream_home_detail{
        bottom: 40px;
    }
    
}
.dream_home_text{

    .counter{
        .award{
            p{
                @include typography();
            }
        }
    }

    button{
        @include fill_Button();
    }
}
