@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.explore_cities {
    padding: 60px 0px 60px 0px;
  
    .title {

      .title_text {
        a {
          @include typography(15px, 28px);
          color: $black-clr;
  
          &:hover {
            text-decoration: $text_decoration_underline;
          }
        }
      }
    }
  
    .city_card {
        
      .card_main {
        width: 95%;
  
        @media (max-width: 600px) {
          width: 100%;
        }
  
        .card_text {
          p {
            color: $text-clr;
            @include typography();
        }
        }
      }
    }
  }
