@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

footer {


  .apps_detail_main {
    background-color: $btn_bg_clr;

    p {
      font-size: 13px;
    }
    h3 {
      font-size: 13px;
      line-height: 15px;
    }
  }
  .footer_input {
    .input-container input {
      padding-right: 90px;
      box-sizing: $box_sizing_border_box;
      background: $btn_bg3_clr;
    }

    .input-container button {
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      @include fill_Button(
        $hover-btn-color: $pink-clr,
      );
    }
  }

  .footer_bottom {
    &::before {
      content: "";
      background: $btn_bg3_clr;
      width: 100%;
      height: 1px;
      display: $display_block;
      margin: 30px 0px;
    }

    .footer_bottom_main {
     
      .copywrite {
        @include typography();
      }

      .footer_social {
      
        a {
          @include typography();
        }
      }
    }
  }
}
