@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

header {
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.navbar-nav {
  > li {
    height: $width_fit_content;
    border-bottom: $border_none;
    
    > .nav-link {
      @include typography(14px, 26px);
      color: $black-clr;
      
      &:hover {
        color: $pink-clr;
        border-bottom: 1px solid $pink-clr;
      }
      &.active {
        color: $pink-clr;
      }
    }
  }
}

.header_buttons {
  .contact_number {
    a {
      color: $black-clr;
      &:hover {
        color: $pink-clr;
        border-bottom: 1px solid $pink-clr;
      }
    }
  }

  .user_img {
    color: $black-clr;
  }

  .signIn {
    @include typography();
    color: $black-clr;

    a {
      color: $black-clr;

      &:hover {
        color: $pink-clr;
        border-bottom: 1px solid $pink-clr;
      }
    }
  }

  button {
    @include outline_Button($border-clr: $black-clr);
    @include typography();
    outline: $outline_auto;
   

    span {
      color: $black-clr;
    }

    &:hover {
      span {
        color: $white-clr;
      }
    }
  }
}

.navbar-toggler {
  width: 30px; 
  height: 25px; 
  position: $position_relative;
  border: $border_none;
  
  &:active,
  &:focus{
    border: $border_none;
    outline: $outline_none;
    box-shadow: none;
  }

  .line {
    position: $position_absolute;
    height: 3px; 
    background-color: $black-clr; 
    transition: all 0.3s ease; 
  }
  
 
  .line1 {
    top: 0;
    width: 100%;
    right: 0;
  }

  .line2 {
    top: 50%;
    width: 70%;
    right: 0;
  }
  &:hover {
    .line1 {
      width: 70%; 
    }
    .line2 {
      width: 80%; 
    }
  }
}
