@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

header {
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.navbar-nav {
  > li {
    height: $width_fit_content;
    border-bottom: $border_none;
    
    > .nav-link {
      @include typography(14px, 26px);
      color: $black-clr;
      
      &:hover {
        color: $pink-clr;
        border-bottom: 1px solid $pink-clr;
      }
      &.active {
        color: $pink-clr;
      }
    }
  }
}

.header_buttons {
  .contact_number {
    a {
      color: $black-clr;
      &:hover {
        color: $pink-clr;
        border-bottom: 1px solid $pink-clr;
      }
    }
  }

  .user_img {
    color: $black-clr;
  }

  .signIn {
    @include typography();
    color: $black-clr;

    a {
      color: $black-clr;

      &:hover {
        color: $pink-clr;
        border-bottom: 1px solid $pink-clr;
      }
    }
  }

  button {
    @include outline_Button($border-clr: $black-clr);
    @include typography();
    outline: $outline_auto;

    span {
      color: $black-clr;
    }

    &:hover {
      span {
        color: $white-clr;
      }
    }
  }
}
