@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;


.testimonials_sec{
    background-color: $bg-clr;

    .testimonials_item{
        h2{
            width: 80%;
        }
        >span{
            font-size: 60px;
            color: $footer-text-clr;
        }
    }
      
      .slick-dot {
        width: 40px; 
        height: 40px;
        transition: transform 0.3s ease;
        opacity: 20%;
      }
      
      .slick-dot img {  
        object-fit: cover;
      }
      
      .slick-dot.active {
        transform: scale(1.2);
        opacity: 100%;
      }
      
      
}